<div class="top-header">
<div class="top-bar">
  <div class="contact-info">
    <span>
        <i class="fas fa-phone-alt"></i> Call Us : 
        <a  class="nums" href="tel:6379981909">6379-981-909</a> | 
        <a class="nums"   href="tel:04565234505">04565-2345-05</a>
    </span>
</div>

  <div class="menu-links-group">
    <a href="https://facebook.com/letsifysigma4solutions" target="_blank">
      <i class="fab fa-facebook"></i> Facebook
  </a>
    <span>|</span>
    <a href="https://wa.me/6379981909" target="_blank">
      <i class="fab fa-whatsapp"></i> WhatsApp
  </a>
  
  
    <span>|</span>
    <a href="https://instagram.com/sigma4solutions" target="_blank">
      <i class="fab fa-instagram"></i> Instagram
  </a>
  </div>
</div>

  <div class="container ddview">
    <div class="row">
      <div class="col-3">
        <div class="main-header">
          <div class="logo">
            <img src="bb 1.jpeg" alt="Logo">
          </div>
          
        </div>

      </div>
      <div class="col-9">
        <div class="bb-navbar">
        <nav class="nav">
          <ul>
            <li><a href="#landing">Home</a></li>
            <li><a href="#why-choose">Why Us</a></li>
            <li><a href="#how-its-work">How It Works</a></li>
            <li><a href="#testimonial">Testimonials</a></li>
            <li><a href="#our-partner">Our Partner</a></li>
          </ul>
        </nav>
        
      </div>

      </div>

    </div>
  </div>


</div>



<div class="top-header">
  <div class="container  mbview">
    <div class="row">
      <div class="col-4">
        <div class="main-header">
          <div class="logo">
            <img src="bb 1.jpeg" alt="Logo">
          </div>
          
        </div>

      </div>
    

      <div class="col-8">
        <div class="main-header">
        <div class="burger-menu" (click)="toggleMenu()">
          <i class="fas fa-bars"></i>
        </div>
  
        <div class="offcanvas-menu" [ngClass]="{ 'active': isMenuOpen }">
          <div class="close-btn" (click)="toggleMenu()">&times;</div>
          <ul>
            <li><a href="#landing">Home</a></li>
            <li><a href="#why-choose">Why Us</a></li>
            <li><a href="#how-its-work">How It Work</a></li>
            <li><a href="#testimonial">Testimonials</a></li>
            <li><a href="#our-partner">Our Partner</a></li>
          </ul>
        </div>

      </div>
    </div>
    </div>
  </div>

</div>