@media only screen and (min-width:1200px) {

  
  .top-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background-color: white;
    box-shadow: 1px 1px 5px 0px rgba(136, 61, 207, 0.3);
}

.mbview {
  display: none;
  
}
.ddview{
  margin-top: 15px;
}
.nums{
  text-decoration: none;
  color:white; 

}

.top-bar {
  background-color: #883DCF;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  font-family: 'Urbanist', sans-serif;
  margin-left: 10px;
 
}

.top-bar .contact-info {
  font-size: 17px;
  display: flex;
  align-items: center;
  font-family: 'Urbanist', sans-serif;
}

.menu-links-group {
  display: flex;
  align-items: center;
  gap: 10px; /* You can adjust this value to control the gap */
}

.menu-links-group a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  font-family: 'Urbanist', sans-serif;
  display: flex; 
  align-items: center; 
}

.menu-links-group a i {
  margin-right: 8px; 
}


.bb-navbar {
  display: flex;
  justify-content: end;
  align-items: end;
  text-align: end;
  padding: 20px 20px;
  background-color: #fff;
  
}

.main-header .logo img {
    height: 65px;

    object-fit: contain;
}


.bb-navbar .nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.bb-navbar .nav ul li {
  margin: 0 15px;
}

.bb-navbar .nav ul li a {
  text-decoration: none;
  color: #883DCF;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  font-family: 'Urbanist', sans-serif;

}

.bb-navbar .header-icons a {
  text-decoration: none;
  color: #000;
  margin-left: 15px;
  font-size: 14px;
  display: flex;
  align-items: center;
  font-family: 'Urbanist', sans-serif;
}

.bb-navbar .header-icons a i {
  margin-right: 5px;
}

}


@media only screen and (min-width:990px) and (max-width:1200px){
  .top-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background-color: white;
    box-shadow: 1px 1px 5px 0px rgba(136, 61, 207, 0.3);
}
  .burger-menu {
    display: none; 
  }

  .offcanvas-menu {
    display: none; 
  }

  .main-header .nav ul {
    display: flex;
  }

  .nums{
    text-decoration: none;
    color:white; 
  
  }

  .header {
    width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1001;
  }
  
  
  .top-bar {
    background-color: #883DCF;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Urbanist', sans-serif;
    margin-left: 10px;
    box-shadow: 1px 1px 5px 0px rgba(136, 61, 207, 0.3);
   
  }
  
  .top-bar .contact-info {
    font-size: 17px;
    display: flex;
    align-items: center;
    font-family: 'Urbanist', sans-serif;
  }
  
  // .top-bar .contact-info i {
  //   margin-right: 5px;
   
    
  // }
  
  .menu-links-group {
      display: flex;
      align-items: center;
      gap: 10px; 
    }
    
    .menu-links-group a {
      text-decoration: none;
      color: #fff;
      font-size: 17px;
      font-family: 'Urbanist', sans-serif;
    }
    
    .menu-links-group span {
      color: #fff; 
      font-size: 17px;
      font-family: 'Urbanist', sans-serif;
    }
    
  
  .menu-links-group a i {
    margin-right: 15px;
  }
  
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #fff;
   
  }
  
  .main-header .logo img {
              height: 46px;
        width: 86px;
        margin-top: 8px;
        
    object-fit: contain;
  }
  
  
  .bb-navbar .nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-top: 19px;
  }
  
  .bb-navbar .nav ul li {
    margin: 0 9px;
  }
  
  .bb-navbar .nav ul li a {
    text-decoration: none;
    color: #883DCF;
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
    font-family: 'Urbanist', sans-serif;
  
  }
  
  .bb-navbar .header-icons a {
    text-decoration: none;
    color: #000;
    margin-left: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    font-family: 'Urbanist', sans-serif;
  }
  
  .bb-navbar .header-icons a i {
    margin-right: 5px;
  }
  .mbview {
    display: none;
  }
  .top-bar {
    display: none; 
  }
  .nav{
    margin-top: 22px;
    justify-content: end;
  }
}
@media only screen and (min-width:599px) and (max-width:991px){
  .top-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background-color: white;
    box-shadow: 1px 1px 5px 0px rgba(136, 61, 207, 0.3);
}
  .top-bar {
    display: none; 
  }
  .main-header {
    padding: 15px;
    display: flex;
    align-items: center;
  }
  .ddview{
    display: none;
  }
  .nums{
    text-decoration: none;
    color:white; 
  
  }
  .main-header .logo img {
    height: 50px;
    
    object-fit: contain;
  }

  .main-header .burger-menu {
    font-size: 24px;
    cursor: pointer;
    color: #883DCF;
    margin-left: auto;
    align-items: end;
    justify-content: end;
   
;
  }


  .offcanvas-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    background-color: #883DCF;
    color: #fff;
    z-index: 1002;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: right 0.3s ease;
  }

  .offcanvas-menu.active {
    right: 0;
  }

  .offcanvas-menu .close-btn {
    font-size: 24px;
    margin-bottom: 20px;
    cursor: pointer;
    color: white;
    align-self: flex-end;
  }

  .offcanvas-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .offcanvas-menu ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
  }

}

@media only screen and (max-width: 600px) {
  .top-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background-color: white;
    box-shadow: 1px 1px 5px 0px rgba(136, 61, 207, 0.3);
}
  .top-bar {
    display: none; 
  }
  .main-header {
    padding: 15px;
    display: flex;
    align-items: center;
  }
  .ddview{
    display: none;
  }
  .nums{
    text-decoration: none;
    color:white; 
  
  }
  .main-header .logo img {
    height: 50px;
  }

  .main-header .burger-menu {
    font-size: 24px;
    cursor: pointer;
    color: #883DCF;
    margin-left: auto;
    align-items: end;
    justify-content: end;
   
;
  }


  .offcanvas-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    background-color: #883DCF;
    color: #fff;
    z-index: 1002;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: right 0.3s ease;
  }

  .offcanvas-menu.active {
    right: 0;
  }

  .offcanvas-menu .close-btn {
    font-size: 24px;
    margin-bottom: 20px;
    cursor: pointer;
    color: white;
    align-self: flex-end;
  }

  .offcanvas-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .offcanvas-menu ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
  }

// .ddview{
//   display: none;
// }
// .top-bar{
//   display: none;
// }
//   .main-header .logo img {
//     height: 50px;
//   }

//     .main-header .burger-menu {
//     font-size: 24px;
//     cursor: pointer;
//     color: #883DCF;
//     margin-left: auto;
//     align-items: end;
//     justify-content: end;
   

//   }

}
