<header class="header">
    <div class="top-bar">
      <div class="contact-info">
        <span><i class="fas fa-phone-alt"></i> Call Us: 6379981909 | 4565-234505</span>
      </div>
      <div class="menu-links-group">
        <a href="#"><i class="fas fa-envelope"></i> Contact Us</a>
        <span>|</span>
        <a href="#"><i class="fas fa-location-arrow"></i> Our Location</a>
        <span>|</span>
        <a href="#"><i class="fas fa-user"></i> My Account</a>
      </div>
      
    </div>
    <div class="main-header">
      <div class="logo">
        <img src="bb 1.jpeg" alt="Logos">
      </div>
      <nav class="nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Why Us</a></li>
          <li><a href="#">How It Work</a></li>
          <li><a href="#">Who it's For</a></li>
          <li><a href="#">Testimonials</a></li>
        </ul>
      </nav>
      <div class="header-icons">
        <!-- <a href="#"><i class="fas fa-search"></i> Search</a>
        <a href="#"><i class="fas fa-shopping-cart"></i> My Cart</a> -->
      </div>
    </div>
  </header>