<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <p class="ft-head">Get In Touch</p>
                <img src="bb 1.jpeg" alt="bblogo" class="bblogo">
                <div class="footer-location gtinto">
                    <img src="ft-locationlogo.svg" alt="" class="ft-logo">
                    <p>Plot No:11/2, Railway Arch Road, Kannadasan Nagar 6th Street, Karaikudi-6300001,</p>
                </div>
                <div class="footer-contact  gtinto">
                    <img src="ft-calllogo.svg" alt="" class="ft-logo">
                    <p>+91 1234567890</p>
                </div>
                <div class="footer-mail  gtinto">
                    <img src="ft-emaillogo.svg" alt="" class="ft-logo">
                    <p>info&#64;example.com</p>
                </div>
            </div>

            <div class="col-4">
                <p class="ft-head">Quick Links</p>
                <div>
                    <p><i class="fas fa-arrow-right"></i> About Us</p>
                    <p><i class="fas fa-arrow-right"></i> Why Us</p>
                    <p><i class="fas fa-arrow-right"></i> How It Work</p>
                    <p><i class="fas fa-arrow-right"></i> Who it's For</p>
                    <p><i class="fas fa-arrow-right"></i> Testimonial</p>
                </div>


            </div>
            <div class="col-4">
                <p class="ft-head">Newsletter</p>
                <div class="ft-input">
                    <input class="ft-in"  type="text" placeholder="Your Email Address">
                    <button class="ft-in" >Sign Up</button>
                </div>
                <div>
                    <p class="ft-head">Follow Us</p>
                    <!-- <div class="footer-sociallogo">
                        <img src="ft-youtube.jpeg" alt="">
                        <img src="ft-fb.jpeg" alt="">
                        <img src="ft-insta.jpeg" alt="">
                        <img src="ft-whatsapp" alt="">
                        
                    </div> -->
                </div>
                

            </div>
        </div>
    </div>
</div>