.footer{
    margin-top: 30px;
}
.bblogo{
    width: 110px;
    height: 70px;
    margin-bottom: 20px;
}
.ft-logo{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 14px;
}
.gtinto{
    display: flex;
    align-items: center;
    
}
.ft-head{
    font-size: 28px;

    font-weight: 500;
    color:#883DCF; 
 
    margin-top: 60px;
 
}
.gtinto p{
    font-size: 17px;
}