<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12">
                
                <div class="ft-bblogo">
                    <img src="bb 1.jpeg" alt="bblogo" class="bblogo">
                </div>
                <div class="ft-para">
                    <p >Butter Biscuit's digital menu brings you vibrant visuals and detailed descriptions for effortless browsing. Enjoy customizable options and easy online ordering for a seamless dining experience. </p>
                </div>

                
                
            </div>

            <div class="col-md-4 col-12">
                <p class="ft-head">Quick Links</p>
                <div class="arrow">
                    <p class="footer-link"><i class="fas fa-arrow-right"></i ><a href="#landing"> About Us</a></p>
                    <p class="footer-link"><i class="fas fa-arrow-right"></i><a href="#why-choose"> Why Us</a></p>
                    <p ><i class="fas fa-arrow-right"></i><a href="#how-its-work"> How It Works</a></p>
                    <p><i class="fas fa-arrow-right"></i> <a href="#testimonial"> Testimonials</a></p>
                    <p><i class="fas fa-arrow-right"></i><a href="#our-partner"> Our Partner</a></p>
                </div>


            </div>
            <div class="col-md-4 col-12">
               <p class="ft-head">Contact Us</p>
                 <div class="footer-location gtinto">
                    <img src="ft-locationlogo.svg" alt="" class="ft-logo">
                    <p>Plot No 11/2,
                        Railway Arch Road, Kannadasan Nagar 6th Street, Karaikudi-630003, Tamil Nadu, India.</p>
                </div>
                <div class="footer-contact gtinto">
                    <img src="ft-calllogo.svg" alt="Call Logo" class="ft-logo">
                    <p>
                        <a class="nums" href="tel:6379981909">6379-981-909</a> |
                        <a class="nums" href="tel:04565234505">04565-2345-05</a>
                    </p>
                </div>
                
                <div class="footer-mail gtinto">
                    <img src="ft-emaillogo.svg" alt="Email Logo" class="ft-logo">
                    <p>
                        <a class="mail-footer" href="mailto:admin@sigma4solutions.com">admin&#64;sigma4solutions.com</a>
                    </p>
                </div>
                <div class="social-icon">
                    <a class="social-logo" href="https://www.facebook.com/letsifysigma4solutions" target="_blank" rel="noopener noreferrer">
                        <img src="ft-fb.svg" alt="Facebook">
                    </a>
                    
                    
                    <a class="social-logo" href="https://www.instagram.com/sigma4solutions" target="_blank" rel="noopener noreferrer">
                        <img src="ft-insta.svg" alt="Instagram">
                    </a>
                    <a class="social-logo" href="https://wa.me/6379981909" target="_blank" rel="noopener noreferrer">
                        <img src="ft-whatsapp.svg" alt="WhatsApp">
                    </a>


                    <a class="social-logo" href="mailto:admin@sigma4solutions.com">
                        <img src="ft-mail.svg" alt="Email">
                    </a>
             </div>

            </div>
        </div>
    </div>
</div>