<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <p class="ft-head">Get In Touch</p>
                <img src="bb 1.jpeg" alt="bblogo" class="bblogo">
                <div class="footer-location gtinto">
                    <img src="ft-locationlogo.svg" alt="" class="ft-logo">
                    <p>Plot No:11/2, Railway Arch Road, Kannadasan Nagar 6th Street, Karaikudi-6300001,</p>
                </div>
                <div class="footer-contact  gtinto">
                    <img src="ft-calllogo.svg" alt="" class="ft-logo">
                    <p>+91 1234567890</p>
                </div>
                <div class="footer-mail  gtinto">
                    <img src="ft-emaillogo.svg" alt="" class="ft-logo">
                    <p>info&#64;example.com</p>
                </div>
            </div>

            <div class="col-4">
                <p class="ft-head">Quick Links</p>


            </div>
            <div class="col-4">
                <p class="ft-head">Newsletter</p>
                <div>
                    <input type="text" placeholder="Your Email Address">
                    <button>Sign Up</button>
                </div>
                

            </div>
        </div>
    </div>
</div>