.footer{
    margin-top: 30px;
    background-color: #efe6f7;
    padding-bottom: 40px;
}
.bblogo{
    width: 110px;
    height: 70px;
    margin-bottom: 20px;
}
.ft-logo{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-bottom: 14px;

}
.gtinto{
    display: flex;
    align-items: center;
    
}
.ft-head{
    font-size: 28px;

    font-weight: 500;
    color:#883DCF; 
 
    margin-top: 60px;
 
}
.gtinto p{
    font-size: 17px;
}


.ft-input {
    display: flex;
    align-items: center;
}

.ft-in {
    border-radius: 8px; 
    padding: 10px 15px;  
    border: 1px solid #883DCF;  
    margin: 2px; 
}

input.ft-in {
    flex-grow: 1;  
}

button.ft-in {
    background-color: #883DCF; 
    color: white;  
    cursor: pointer; 
}

button.ft-in:hover {
    background-color: #883DCF;  /* Darker green on hover */
}


