.carousel{
    margin-top: 140px;
}
.landing-text1{
   
    font-size: 25px;
    color: #883DCF;
    margin-bottom: 15px;
    font-weight: 500;
}
.landing-text2{
    font-size: 50px;
    font-weight: 700;
    color: #263a4f;
    line-height: 72px;
}
.landing-text2 span{
    font-size: 50px;
    font-weight: 700;
    color: #883DCF;
    line-height: 72px;

}
.landing-text3{
    font-size: 28px;
    line-height: 30px;
    color: #263a4f;
    font-weight: 600;
}
.landing-text4{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #263a4f;
}
.landing-button a{
    text-decoration: none;
    display: inline-block;
    background-color: #883DCF;
    font-size: 18px;
    color: white;
    font-weight: 400;
    padding: 10px 25px;
    border-radius: 23px;
    margin-top: 20px;
}