<div class="landing">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div  class="carousel slide slide-align" data-bs-ride="carousel" data-bs-interval="3000" > 
                
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <p class="landing-text1">Welcome to ButterBicuit</p>
                        <p class="landing-text2">Quickly <span>Connect,</span> Seamlessly <span>Explore!</span></p>
                        <p class="landing-text3">Use your smartphone to scan the QR code at the table or display.</p>
                        <p class="landing-text4">Instant access to our interactive digital menu!</p>
                        <div class="landing-button">
                            <a href="">Learn More</a>
                        </div>
                      </div>
                
                       <div class="carousel-item">
                        <p class="landing-text1"> Discover dishes and enjoy the experience!</p>
                        <p class="landing-text2">Explore <span>Dishes,</span> Customize <span>Your Order!</span></p>
                        <p class="landing-text3">Effortlessly browse our menu, view descriptions, and make your choice.</p>
                        <p class="landing-text4">Customize your meal for the perfect flavor!</p>
                        <div class="landing-button">
                            <a href="">Explore Dishes</a>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <p class="landing-text1">Place your order and pay securely!</p>
                        <p class="landing-text2">Hassle-Free <span>Ordering,</span> Secure <span>Payments!</span></p>
                        <p class="landing-text3">Place your order directly from the menu and proceed to payment.</p>
                        <p class="landing-text4">>Enjoy a seamless dining experience!</p>  
                        <div class="landing-button">
                            <a href="">Start Ordering</a>
                        </div>
                      </div> 
                    </div>
                  </div>
            </div>
            <div class="col-6">
                <div class="landing-img">
                    <img src="landingimg.png" alt="landingimage">
                </div>
            </div>
        </div>
    </div>
</div>


