<div class="landing">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div  class="carousel slide slide-align" data-bs-ride="carousel" data-bs-interval="3000" > 
                
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <p class="landing-text1">Welcome to ButterBicuit</p>
                        <p class="landing-text2">Purely <span>Delicious,</span> Perfectly <span>Golden!!</span></p>
                        <p class="landing-text3">Craving more Butter goodness?</p>
                        <p class="landing-text4">Scan the QR Code to explore our receipes, deals and more!</p>
                        <div class="landing-button">
                            <a href="">Service</a>
                        </div>
                      </div>
                
                       <div class="carousel-item">
                        <p class="landing-text1">Welcome to ButterBicuit</p>
                        <p class="landing-text2">Purely <span>Delicious,</span> Perfectly <span>Golden!!</span></p>
                        <p class="landing-text3">Craving more Butter goodness?</p>
                        <p class="landing-text4">Scan the QR Code to explore our receipes, deals and more!</p>
                        <div class="landing-button">
                            <a href="">Service</a>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <p class="landing-text1">Welcome to ButterBicuit</p>
                        <p class="landing-text2">Purely <span>Delicious,</span> Perfectly <span>Golden!!</span></p>
                        <p class="landing-text3">Craving more Butter goodness?</p>
                        <p class="landing-text4">Scan the QR Code to explore our receipes, deals and more!</p>
                        <div class="landing-button">
                            <a href="">Service</a>
                        </div>
                      </div> 
                    </div>
                  </div>
            </div>
            <div class="col-6">
                <div class="landing-img">
                    <img src="landingimg.png" alt="landingimage">
                </div>
            </div>
        </div>
    </div>
</div>


