<div class="services">
  <p class="services-heading">Why-choose</p>
  <div class="container">
    <div class="row">
      <!-- Card 1 -->
      <div class="col-4">
        <div class="services-container">
          <div class="icon-container" [ngClass]="{ hovered: isHovered1 }">
            <img src="icon1.gif" alt="Icon" class="icon-circle" />
          </div>
          <div
            class="service-card"
            (mouseenter)="isHovered1 = true"
            (mouseleave)="isHovered1 = false"
            [ngClass]="{ hovered: isHovered1 }"
          >
            <p class="why-title">Butter Biscuits</p>
            <p class="why-subtitle">Enhance guest satisfaction with easy QR code access to menus.</p>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-4">
        <div class="services-container">
          <div class="icon-container" [ngClass]="{ hovered: isHovered2 }">
            <img src="icon2.gif" alt="Icon" class="icon-circle" />
          </div>
          <div
            class="service-card"
            (mouseenter)="isHovered2 = true"
            (mouseleave)="isHovered2 = false"
            [ngClass]="{ hovered: isHovered2 }"
          >
            <p class="why-title">Branded Menus</p>
            <p class="why-subtitle">Enhance guest satisfaction with easy QR code access to menus</p>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-4">
        <div class="services-container">
          <div class="icon-container" [ngClass]="{ hovered: isHovered3 }">
            <img src="icon3.gif" alt="Icon" class="icon-circle" />
          </div>
          <div
            class="service-card"
            (mouseenter)="isHovered3 = true"
            (mouseleave)="isHovered3 = false"
            [ngClass]="{ hovered: isHovered3 }"
          >
            <p class="why-title">No Printing Hassles</p>
            <p class="why-subtitle">Reduce the hassle of updating and printing physical menus
            </p>
          </div>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="col-4">
        <div class="services-container">
          <div class="icon-container" [ngClass]="{ hovered: isHovered4 }">
            <img src="icon4.gif" alt="Icon" class="icon-circle" />
          </div>
          <div
            class="service-card"
            (mouseenter)="isHovered4 = true"
            (mouseleave)="isHovered4 = false"
            [ngClass]="{ hovered: isHovered4 }"
          >
            <p class="why-title">Touch-Free Hygiene</p>
            <p class="why-subtitle">Provide a touch-free menu option, promoting better hygiene in your restaurant</p>
          </div>
        </div>
      </div>

      <!-- Card 5 -->
      <div class="col-4">
        <div class="services-container">
          <div class="icon-container" [ngClass]="{ hovered: isHovered5 }">
            <img src="icon5.gif" alt="Icon" class="icon-circle" />
          </div>
          <div
            class="service-card"
            (mouseenter)="isHovered5 = true"
            (mouseleave)="isHovered5 = false"
            [ngClass]="{ hovered: isHovered5 }"
          >
            <p class="why-title">
              Customizable Menus</p>
            <p class="why-subtitle">Update your menu items in real time to highlight specials or seasonal offerings</p>
          </div>
        </div>
      </div>

      <!-- Card 6 -->
      <div class="col-4">
        <div class="services-container">
          <div class="icon-container" [ngClass]="{ hovered: isHovered6 }">
            <img src="icon6.gif" alt="Icon" class="icon-circle" />
          </div>
          <div
            class="service-card"
            (mouseenter)="isHovered6 = true"
            (mouseleave)="isHovered6 = false"
            [ngClass]="{ hovered: isHovered6 }"
          >
            <p class="why-title">Real-Time Analytics</p>
            <p class="why-subtitle">Track orders, payments, and customer preferences for data-driven insights</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
