
@media only screen and (min-width:1200px) {
  .services-container{
    margin-top:30px
  }

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #883DCF;
  border-radius: 50%;
  margin: 0 auto 15px;
  overflow: hidden;
  border: 3px solid white; 
  z-index: 2;
  position: relative;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  font-family: 'Urbanist', sans-serif;
  margin-left: 18px;
  margin-bottom: 0px;
}


.icon-circle {
  width: 66%;
  height: 66%;
  object-fit: cover;
  transition: opacity 0.3s ease, transform 0.3s ease;
}


.icon-container.hovered {
  background-color: white;
  transform: rotate(360deg); 
  border: 3px solid #883DCF; 
  margin-left: 38px;
}


.service-card {
  text-align: center;
  background-color: white; 
  padding: 20px;
  border-radius: 15px;
  box-shadow: 4px 4px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;
  width: auto;
  height: 228px;
  margin: 0 auto;
  border: 1px solid #ccabef;
  z-index: 1;
  position: relative;
  margin-top: -35px;
}


.service-card.hovered {
  transform: translateY(-8px);
  background-color: #883DCF; 
  border-radius: 30px;
}


.service-card.hovered .why-title{
  color: white;
  font-size: 24px;
  font-family: 'Urbanist', sans-serif;

}
.service-card.hovered .why-subtitle {
  color: white;
  font-size: 19px;
  font-family: 'Urbanist', sans-serif;
}


.why-title {
  font-size: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.618);
  margin-top: 34px;
  font-family: 'Urbanist', sans-serif;
}


.why-subtitle {
  font-size: 19px;
  color: rgba(0, 0, 0, 0.523); 
  line-height: 1.5;
  transition: color 0.3s ease;
  font-family: 'Urbanist', sans-serif;
}

.service-card.hovered .icon-container,
.service-card.hovered .icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  margin: 0 auto 15px;
  overflow: hidden;
  border: 3px solid #3dcf7f;
  z-index: 2;
  position: relative;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  font-family: 'Urbanist', sans-serif;
  margin-left: 53px;
  margin-bottom: 0px;
}


.icon-container.hovered {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
  transform: translateY(-10px); 
}

.icon-container:hover .icon-circle {
  transform: scale(1.2) translateY(-10px);
}
.services-heading{
  font-size: 35px;
  font-weight: 500;
  color:#883DCF; 
  text-align: center;
  margin-top:40px;

}


.service-card.hovered .icon-container::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  width: 100px;
  height: 100px;
  // background-image: url('../../../public/icon1.gif');
  background-size: cover;
  border-radius: 50%;
  transition: opacity 0.3s ease, transform 0.3s ease; 
}

}
@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .services-container{
    margin-top:30px
  }
  
  
  
  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #883DCF;
    border-radius: 50%;
    margin: 0 auto 15px;
    overflow: hidden;
    border: 3px solid white; 
    z-index: 2;
    position: relative;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Urbanist', sans-serif;
    margin-left: 18px;
    margin-bottom: 0px;
  }
  
  /* Default icon circle style */
  .icon-circle {
    width: 66%;
    height: 66%;
    object-fit: cover;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  /* Hovered state for icon container */
  .icon-container.hovered {
    background-color: white;
    transform: rotate(360deg); 
    border: 3px solid #883DCF; 
    margin-left: 38px;
  }
  
  /* Service card styles */
  .service-card {
    text-align: center;
    background-color: white; 
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #ccabef;
    box-shadow: 4px 4px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;
    width: auto;
    height: 218px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    margin-top: -35px;
  }
  
  /* Hover effect for service card */
  .service-card.hovered {
    transform: translateY(-8px);
    background-color:#883DCF; 
    border-radius: 30px;
  }
  
  /* Hover effect for the title and subtitle */
  .service-card.hovered .why-title{
    color: white;
    font-size: 24px;
    font-family: 'Urbanist', sans-serif;
  }
  .service-card.hovered .why-subtitle {
    color: white;
    font-size: 17px;
    font-family: 'Urbanist', sans-serif;
  }
  
  /* Service title styling */
  .why-title {
    font-size: 24px;
    font-weight: bold;
    color:rgba(0, 0, 0, 0.399);
    margin-top: 18px;
    font-family: 'Urbanist', sans-serif;
  }
  
  /* Service subtitle styling */
  .why-subtitle {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.519); 
    transition: color 0.3s ease;
    font-family: 'Urbanist', sans-serif;
  }
  
  /* Styling when icon is hovered */
  .service-card.hovered .icon-container,
  .service-card.hovered .icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    margin: 0 auto 15px;
    overflow: hidden;
    border: 3px solid #3dcf7f;
    z-index: 2;
    position: relative;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Urbanist', sans-serif;
    margin-left: 53px;
    margin-bottom: 0px;
  }
  

  .icon-container.hovered {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
    transform: translateY(-10px); 
  }
  
  .icon-container:hover .icon-circle {
    transform: scale(1.2) translateY(-10px);
  }
  .services-heading{
    font-size: 35px;
    font-weight: 500;
    color:#883DCF; 
    text-align: center;
    margin-top:40px;
  
  }
  
  
  .service-card.hovered .icon-container::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.1);
    width: 100px;
    height: 100px;
    // background-image: url('../../../public/icon1.gif');
    background-size: cover;
    border-radius: 50%;
    transition: opacity 0.3s ease, transform 0.3s ease; 
  }
}







@media only screen and (max-width: 600px) {

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 73px;
    background-color: #883DCF;
    border-radius: 50%;
    margin: 0 auto 15px;
    overflow: hidden;
    border: 3px solid white; 
    z-index: 2;
    position: relative;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Urbanist', sans-serif;
    margin-left: 18px;
    margin-bottom: 0px;
  }

  .icon-circle {
    width: 66%;
    height: 66%;
    object-fit: cover;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .icon-container.hovered {
    background-color: white;
    transform: rotate(360deg); 
    border: 3px solid rgb(176, 115, 233); 
    margin-left: 38px;
  }

  .service-card {
    text-align: center;
    background-color: white; 
    padding: 6px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;
    width: auto;
    border: 1px solid #a47aeb;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    margin-top: -35px;
  }
  .services-container{
    margin-bottom: 20px;
  }
  .service-card.hovered {
    transform: translateY(-8px);
    background-color: #883DCF; 
    border-radius: 30px;
  }

  .service-card.hovered .why-title, 
  .service-card.hovered .why-subtitle {
    color: white;
    font-size: 19px;
    font-family: 'Urbanist', sans-serif;
  }

  .why-title {
    font-size: 22px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.558);
    margin-top: 18px;
    font-family: 'Urbanist', sans-serif;
  }

  .why-subtitle {
    font-size: 16px;
    color:rgba(0, 0, 0, 0.477); 
    transition: color 0.3s ease;
    font-family: 'Urbanist', sans-serif;
  }

  .service-card.hovered .icon-container,
  .service-card.hovered .icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #883DCF;
    border-radius: 50%;
    margin: 0 auto 15px;
    overflow: hidden;
    border: 3px solid #3dcf7f;
    z-index: 2;
    position: relative;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Urbanist', sans-serif;
    margin-left: 53px;
    margin-bottom: 0px;
  }


  
  .icon-container.hovered {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
    transform: translateY(-10px); 
  }

  .icon-container:hover .icon-circle {
    transform: scale(1.2) translateY(-10px);
  }

  .services-heading {
    font-size: 25px;
    font-weight: 500;
    color: #883DCF; 
    text-align: center;
    margin-top: 40px;
  }

  .service-card.hovered .icon-container::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.1);
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 50%;
    transition: opacity 0.3s ease, transform 0.3s ease; 
  }
}
