<!-- <div class="our-partner">
    <p class="our-partner-heading">
        Our Partner
    </p>



    <div class="our-partner-container">
    <div class="container">
        <div class="row">
            <div class="col-3" *ngFor="let image of ourPartner">
                <img  [ngStyle]="{ width: image.width, height: image.height }"  src="{{image.imageUrl}}" alt="BonBon" class="partner-imgs" >
            </div>
            
        </div>
    </div>
</div>
</div> -->

<div class="our-partner">
    <p class="our-partner-heading">Our Partner</p>
    <div class="our-partner-container">
      <div class="arrow left-arrow" (click)="prevSlide()">&#8249;</div>
      <div class="slider">
        <div class="slide" *ngFor="let image of visibleImages">
          <img 
            [ngStyle]="{ width: image.width, height: image.height }" 
            [src]="image.imageUrl" 
            alt="Partner" 
            class="partner-imgs">
        </div>
      </div>
      <div class="arrow right-arrow" (click)="nextSlide()">&#8250;</div>
    </div>
  </div>




 