.steps-section{
  margin-top: 100px;
}
  

  .how-title {
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Urbanist', sans-serif;
    font-weight:800;
    font-size:50px;
    color: #883DCF;
    margin-top: 40px;
  }
 
  .steps-container {
    
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
  }


    .step-card {
        background-color: #883DCF;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        width: 300px;
        height: auto; 
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden; 
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        margin-bottom: 20px; 
        font-family: 'Urbanist', sans-serif;
      }
  
  
  .step-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  }
 
  .step-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: -21px;
  }

  .how-num {
    font-size: 48px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
    font-family: 'Urbanist', sans-serif;
  }
  
  // .how-title{

  //   font-size: 33px;
  //   font-weight: 500;
  //   color:#883DCF; 
  //   text-align: center;
  //   margin-top:40px;
  // }
 

  
  .sub-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    font-family: 'Urbanist', sans-serif;
  }
  
  
  .dec {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    font-family: 'Urbanist', sans-serif;
  }
  