<div class="steps-section">
    <p class="how-title">How It's Works</p>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-12">
                <div class="steps-container">
    
                    <div class="step-card">
                      <img src="mobile1.png" alt="Step 1 Image" class="step-image">
                     
                    </div>
                    <div class="step-content">
                      <p class="how-num">01</p>
                      <p class="sub-title"> QR Scan</p>
                      <p class="dec">Guests scan a QR code at their table or hotel.
                        Browse menu and order directly from your device</p>
                    </div>
                    </div>
            </div>
             <div class="col-sm-4 col-12">
                <div class="steps-container">
    
                    <div class="step-card">
                      <img src="mobile1.png" alt="Step 1 Image" class="step-image">
                     
                    </div>
                    <div class="step-content">
                      <p class="how-num">02</p>
                      <p class="sub-title">Instant Menu</p>
                      <p class="dec">The digital menu instantly loads on their smartphone
                        Browse and order directly with ease</p>
                    </div>
                    </div>
            </div>
            <div class="col-sm-4 col-12">
                <div class="steps-container">
    
                    <div class="step-card">
                      <img src="mobile1.png" alt="Step 1 Image" class="step-image">
                     
                    </div>
                    <div class="step-content">
                      <p class="how-num">03</p>
                      <p class="sub-title">Interactive Dining</p>
                      <p class="dec">Guests enjoy an interactive eating experience
                        Easily peruse, choose, and place their orders</p>
                    </div>
                    </div>
            </div>
        </div>
    </div>
    
      </div>
      