<div class="testimonial">
  <p class="testimonial-heading">Testimonial</p>
<div class="container testimonial-container">
    <div class="row">
        <div class="col-12">
            <div  class="carousel slide slide-align" data-bs-ride="carousel" data-bs-interval="2000"> 
            
               
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img  class="testimonial-img"  src="ts-bonbon.png" alt="testimonial-img">
                    <p class="testimonial-text1">Bon Bon Bakery</p>
                    <p class="testimonial-text2">Devakottai</p>
                    <p class="testimonial-text3">Mazing experience!📱 The digital menu made ordering so easy and quick. I loved how I could browse everything from my phone and pay seamlessly.</p>
                    
                  </div>
                  <div class="carousel-item">
                    <img  class="testimonial-img"  src="ts-thappa.png" alt="testimonial-img">
                    <p class="testimonial-text1">Thappa Gardens Resort</p>
                    <p class="testimonial-text2"> Karaikudi</p>
                    <p class="testimonial-text3">Love the digital menu! It’s super easy to use, and ordering from my phone is a breeze 📱. Highly recommend for a modern shopping experience! </p>
                  </div>
                  <div class="carousel-item">
                    <img  class="testimonial-img"  src="ts-carnival.png" alt="testimonial-img">
                    <p class="testimonial-text1">Carnival Bakery</p>
                    <p class="testimonial-text2">Karaikudi</p>
                    <p class="testimonial-text3">I'm so impressed with the digital menu! It's user-friendly, and I could check out the full menu at my own pace. Great idea for a modern shopping experience.</p>
                  </div>
                  <div class="carousel-item">
                    <img  class="testimonial-img"  src="ts-tribes.png" alt="testimonial-img">
                    <p class="testimonial-text1">Indian Tribes</p>
                    <p class="testimonial-text2">Devakottai</p>
                    <p class="testimonial-text3">Fantastic! The QR code menu is so easy to use, and I loved the quick payment option. It's perfect for a hassle-free dining experience.</p>
                  </div>
                 
                
                </div>
                <div class="carousel-indicators custom-indicators">
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
              </div>
                

              </div>

        </div>

    </div>
</div>

























    
</div>


<!-- <div class="testimonial">
  <p class="testimonial-heading">Testimonial</p>
<div class="container testimonial-container">
    <div class="row">
        <div class="col-12">
            <div  class="carousel slide slide-align" data-bs-ride="carousel" data-bs-interval="2000"> 
            
               
                <div class="carousel-inner"  *ngFor="let testimonials of testimonial">
                  <div class="carousel-item active">
                    <img  class="testimonial-img"  src="{{testimonials.imageUrl}}" alt="testimonial-img">
                    <p class="testimonial-text1">{{testimonials.name}}</p>
                    <p class="testimonial-text2">{{testimonials.content1}}</p>
                    <p class="testimonial-text3">{{testimonials.content2}}</p>
                    
                  </div>
             
                </div>
                <div class="carousel-indicators custom-indicators">
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
              </div>
              

              </div>
        </div>
    </div>
</div> 
</div> -->