@media only screen and (min-width:1200px){
.splide {
    margin-top: 50px;
    margin-bottom: 50px;
    
} 
.splide__slide {
      text-align: center;
      padding: 20px;
      background-color: rgb(246, 241, 250);
      border-radius: 20px 20px;
      box-shadow: 0px 4px 8px  rgb(246, 241, 250);
      transition: transform 0.3s, box-shadow 0.3s;
      
   
    }

    .splide__arrow svg {
        color: #883DCF; 
    }
  
    .testimonial-img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 15px;
    }
.testimonial-heading{
    font-family: 'Urbanist', sans-serif;
    font-weight:800;
    font-size:50px;
    color: #883DCF; 
    text-align: center;
    padding-top: 55px;
}
.testimonial-img{
    width: 150px;
    height: 150px;
    padding: 30px;
    border-radius: 50px;
    transform: scale(.9);
    object-fit: contain;
    transform-origin: center center;
    display: block;
    width: 100%;
}
.testimonial-text1{
    margin-top: 10px;
    font-size: 23px;
    color: #a45ee6;
    font-weight: 600;
    font-family: 'Urbanist', sans-serif;
}

.testimonial-text2{
    color: #263a4f;
    font-size: 19px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
}
.testimonial-text3{
    color: #263a4f;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Urbanist', sans-serif;
}
  .splide__slide.is-active {
  
      transform: scale(1);
  
  }
  .testimonial-container{
    margin: 0px 100px;
  
}

  .splide__slide.is-active img {
    transform: scale(1.1); 
  }
  
}
  

@media only screen and (min-width:600px) and (max-width:1199px){
    .splide {
        margin-top: 30px;
        margin-bottom: 30px;
    
        margin-left: auto;
        margin-right: auto; // Center horizontally
        display: block;
    }
    .splide__pagination{
        display: none;
    }
      
    .splide__slide {
          text-align: center;
          padding: 20px;
          background-color: rgb(246, 241, 250);
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
          transition: transform 0.3s, box-shadow 0.3s;
          flex: 0 0 100%; 
      
        }
       
        .splide__arrow svg {
            color: #883DCF; 
        }
      
        .testimonial-img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          object-fit: cover;
          margin-bottom: 15px;
        }
    .testimonial-heading{
        font-family: 'Urbanist', sans-serif;
        font-weight:800;
        font-size:50px;
        color: #883DCF; 
        text-align: center;
        padding-top: 20px;

    }
    .testimonial-img{
        width: 150px;
        height: 150px;
        padding: 30px;
        border-radius: 50px;
        transform: scale(.9);
        object-fit: contain;
        transform-origin: center center;
        display: block;
        width: 100%;
    }
    .testimonial-text1{
        margin-top: 10px;
        font-size: 23px;
        color: #a45ee6;
        font-weight: 600;
        font-family: 'Urbanist', sans-serif;
    }
    
    .testimonial-text2{
        color: #263a4f;
        font-size: 19px;
        font-family: 'Urbanist', sans-serif;
        font-weight: 500;
    }
    .testimonial-text3{
        color: #263a4f;
        font-size: 17px;
        font-weight: 500;
        font-family: 'Urbanist', sans-serif;
    }
      .splide__slide.is-active {
      
          transform: scale(1);
      
      }
      .testimonial-container{
        margin: 0px 150px;
      
    }
    .splide__pagination{
        display: none;
    }
    .splide__pagination__page.is-active {
        background:  #a45ee6;
    }
    }

@media only screen and (max-width:599px){
    .testimonial-container{
        margin: 0px 20px;
      
    }
    .splide {
        margin-top: 30px;
        margin-bottom: 30px;
    
        margin-left: auto;
        margin-right: auto; // Center horizontally
        display: block;
    }
    .splide__pagination{
        display: none;
    }
      
    .splide__slide {
          text-align: center;
          padding: 20px;
          background-color: rgb(246, 241, 250);
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
          transition: transform 0.3s, box-shadow 0.3s;
          flex: 0 0 100%; 
        }
       
        .splide__arrow svg {
            color: #883DCF; 
        }
      
        .testimonial-img {
          width: 151px;
          height: 150px;
          border-radius: 50%;
          object-fit: cover;
          margin-bottom: 15px;
        }
    .testimonial-heading{
        font-family: 'Urbanist', sans-serif;
        font-weight: 800;
        font-size: 30px; 
        color: #883DCF;
        text-align: center;
        padding-top: 20px;
    }
    .testimonial-img{
        width: 100px;
        height: 100px;
        padding: 10px;
        border-radius: 50px;
        transform: scale(.9);
        object-fit: contain;
        transform-origin: center center;
        display: block;
        width: 100%;
    }
     .testimonial-text1 {
        margin-top: 10px;
        font-size: 18px; 
        color: #a45ee6;
        font-weight: 600;
        font-family: 'Urbanist', sans-serif;
    }

    .testimonial-text2 {
        color: #263a4f;
        font-size: 16px; 
        font-family: 'Urbanist', sans-serif;
        font-weight: 500;
    }

    .testimonial-text3 {
        color: #263a4f;
        font-size: 14px;
        font-weight: 500;
        font-family: 'Urbanist', sans-serif;
    }
      .splide__slide.is-active {
      
          transform: scale(1);
      
      }
     
    }





    


