<div class="testimonial">
  <p class="testimonial-heading">Testimonials</p>
  <div class="testimonial-container">
  <div class="container ">
    <div class="row">
      <div class="col-12">
        <div id="splide" class="splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <img class="testimonial-img" src="ts-bonbon.png" alt="testimonial-img" />
                <p class="testimonial-text1">Bon Bon Bakery</p>
                <p class="testimonial-text2">Devakottai</p>
                <p class="testimonial-text3">
                  Amazing experience! The digital menu made ordering so easy and quick. I loved how I could browse everything from my phone and pay seamlessly.
                </p>
              </li>
              <li class="splide__slide">
                <img class="testimonial-img" src="ts-thappa.png" alt="testimonial-img" />
                <p class="testimonial-text1">Thappa Gardens Resort</p>
                <p class="testimonial-text2">Karaikudi</p>
                <p class="testimonial-text3">
                  Love the digital menu! It's super easy to use, and ordering from my phone is a breeze. Highly recommend for a modern dining experience!
                </p>
              </li>
              <li class="splide__slide">
                <img class="testimonial-img" src="ts-carnival.png" alt="testimonial-img" />
                <p class="testimonial-text1">Carnival Bakery</p>
                <p class="testimonial-text2">Karaikudi</p>
                <p class="testimonial-text3">
                  I'm so impressed with the digital menu! It's user-friendly, and I could check out the full menu at my own pace. Great idea for a modern dining experience.
                </p>
              </li>
              <li class="splide__slide">
                <img class="testimonial-img" src="ts-tribes.png" alt="testimonial-img" />
                <p class="testimonial-text1">Indian Tribes</p>
                <p class="testimonial-text2">Devakottai</p>
                <p class="testimonial-text3">
                  Fantastic! The QR code menu is so easy to use, and I loved the quick payment option. It's perfect for a hassle-free dining experience.
                </p>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>





